.title{
	width: 95px;
	height: 22px;
	font-size:23px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:#00A4FF;
	float: left;
	position: relative;
	left: 208px;
	top: 18px;
}
.all{
	width: 1400px;
	height: 2400px;
	position: relative;
	background-color: rgb(245,245,255);
}
.list li{
	display: inline-block;
	width: 80px;
	height: 25px;
	text-align: center;
	float: left;
	position: relative;
	left: 288px;
	top: 20px;
}
.list a:hover{
	border-bottom: 2px blue solid;
}
form{
	position: relative;
	left: 320px;
	top: 17px;
}
.search{
	float: left;
	width: 200px;
	padding: 9px;
	border: 1px solid;
}
.submit{
	float: left;
	width: 35px;
	height: 35px;
	background-color: rgb(20,88,180);
}
.fa-search{
	width: 20px;
	height: 20px;
	position: relative;
	left: 292px;
	top: 23px;
}
.personal{
	color: grey;
	position: relative;
	left: 350px;
	top: 23px;
}
.banner2{
	width: 1080px;
	height: 337px;
	position: absolute;
	top: 67px;
	left: 80px;
}
.content{
	width: 150px;
	height: 337px;
	padding-left: 5px;
	position: absolute;
	top: 67px;
	left: 180px;
	background-color: rgba(0,0,0,0.4);
	line-height: 2.3em;
}
.content li a{
	color: white;
}
.classify{
	width: 1080px;
	height: 30px;
	border: 1px black dotted;
	padding-top: 10px;
	position: absolute;
	left: 80px;
	top: 430px;
}
.classify ul li a{
	display: inline-block;
	width: 120px;
	float: left;
	border-left: 1px black dotted;
	text-align: center;
	color: black;
}
#change{
	float: right;
	color: #00A4FF;
}
#recommend{
	color: #00A4FF;
	font-size: 20px;
	font-weight: bold;
}
.h3{
	font-weight: normal;
	position: absolute;
	left: 80px;
	top: 520px;
}
.h33{
	font-weight: normal;
	position: absolute;
	left: 80px;
	top: 1160px;
}
.jingpin{
	width: 1080px;
	height: 520px;
	position: absolute;
	left: 80px;
	top: 600px;
}
.picture{
	background-color: white;
	padding: 3px;
	float: left;
	width: 208px;
	height: 250px;
	box-shadow: 3px rgba(118,118,118,0.5);
}
.pic{
	width: 208px;
	height: 150px;
}
.picture ul{
	padding: 20px;
	color: black;
}
.red{
	color: red;
	display: inline-block;
}
.study{
	display: inline-block;
	float: right;
}
#lists{
	float: left;
	width: 500px;
	height: 40px;
	position: absolute;
	left: 250px;
	top: 1160px;
	padding-left: 200px;
	padding-right: 200px;
}
#lists li a{
	display: inline-block;
	float: left;
	padding-left: 50px;
}
h4 a{
	position: absolute;
	left: 1100px;
	top: 1160px;
	color: grey;
	font-weight: normal;
}
.qianduan{
	width: 1080px;
	height: 260px;
	position: absolute;
	left: 80px;
	top: 1200px;
}
.h333{
	font-weight: normal;
	position: absolute;
	left: 80px;
	top: 1500px;	
}
.niuren{
	width: 1080px;
	height: 300px;
	position: absolute;
	left: 80px;
	top: 1550px;
}
.grad a img{
	border: 1px dotted;
	width: 416px;
	height: 290px;
	background-color: white;
	padding: 3px;
	float: left;
}
.people a img{
	border: 1px dotted;
	width: 208px;
	height: 290px;
	padding: 3px;
	float: left;
}
.bottom{
	width: 1400px;
	height: 400px;
	background-color: white;
	position: absolute;
	left: 0;
	bottom: 0;
}
.xueli{
	font-size:40px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:#00A4FF;
	position: absolute;
	left: 140px;
	top: 100px;
}
.explain{
	font-size: 10px;
	color: grey;
	position: absolute;
	left: 140px;
	top: 180px;
}
.app a{
	display: block;
	width: 110px;
	height: 32px;
	padding-top: 5px;
	font-size: 20px;
	position: absolute;
	left: 140px;
	top: 230px;
	text-align: center;
	color: #00A4FF;
	border:2px #00A4FF solid;
}
.list1{
	display: block;
	width: 160px;
	height: 300px;
	padding-top: 100px;
	position: absolute;
	left: 600px;
}
.about{
	font-size: 20px;
}
.blank{
	color: white;
}
ul.list1 li a{
	color: black;
}
.list2{
	display: block;
	width: 160px;
	height: 300px;
	padding-top: 100px;
	position: absolute;
	left: 800px;
}
ul.list2 li a{
	color: black;
}
.list3{
	display: block;
	width: 160px;
	height: 300px;
	padding-top: 100px;
	position: absolute;
	left: 1000px;
}
ul.list3 li a{
	color: black;
}